<p>
  I'm a full-stack software engineer and platform architect for an HR technology company. I focus on the .NET ecosystem
  and cloud-based architectures, but I also enjoy working in front-end frameworks such as Vue.js.
</p>
<p>
  I've been developing since I was in high school and enjoy the constant challenge development brings. Trying
  to apply technology to real-world problems and improve life for others is what keeps me going. I'm always looking for
  my next project to tinker with and usually have a few "pet" projects in the works at any given time.
</p>
<p>
  I live in the Greater Milwaukee area with my wife and two young daughters. When I'm not coding, I enjoy spending time
  with family, model railroading, photography, and watching Wisconsin sports.
</p>
