<p>
  Matt Millican is a full-stack software engineer, specializing in ASP.NET 6, Vue.js and AWS. Currently, Matt is
  a Software Engineer Manager at GMR Marketing. He has been developing for the web since he was in high school and
  never stops learning. Matt enjoys helping others figure out problems and is always looking for a new challenge.
  Matt lives in the Greater Milwaukee area with his wife and 2 young daughters.
</p>
