---
export async function getStaticPaths() {
  const posts = await getBlogPosts();

	return posts.map((post) => {

		return {
			params: {
				slug: post.slug,
			},
			props: {
				post,
			},
		};
	});
}

import Layout from '../../layouts/Default.astro';
import { getBlogPosts } from '../../utils/posts';

const { post } = Astro.props;

const { title, subtitle, formattedDate } = post;

---

<Layout {title} description={subtitle} subTitle={formattedDate}>

  <div class="post-content">
    <Fragment set:html={post.body} />
  </div>
</Layout>
