---
export async function getStaticPaths() {
  const posts = await getBlogPosts();

	return posts.map((post) => {

		return {
			params: {
				slug: post.slug,
			},
			props: {
				post,
			},
		};
	});
}

import Layout from '~/layouts/BlogPost.astro';
import { getBlogPosts } from '../../utils/posts';

const { post } = Astro.props;

const { title, subtitle, formattedDate } = post;

const meta = {
  title,
  description: subtitle,
}

---

<Layout {meta} subtitle={formattedDate}>

  <div class="post-content">
    <Fragment set:html={post.body} />
  </div>
</Layout>
