---
import Layout from '~/layouts/Page.astro';
import BlogPostItem from '../../components/BlogPostItem.astro';
import { getBlogPosts } from '../../utils/posts';

const meta = {
  title: 'Blog Posts',
  description: 'Matt\'s tips, tricks and rants',
}

const posts = await getBlogPosts();
---

<Layout {meta} subtitle={meta.description}>
  <div class="post-list">
    {posts.map(post => (
      <BlogPostItem
        post={post}
      />
    ))}
  </div>
</Layout>
