---
import Layout from '../layouts/Default.astro';
---

<Layout
  title="Page Not Found"
  subTitle="Sorry, I couldn't find the page you were looking for :("
  description="Doh - page not found"
  permalink="/404"
>

  <h3>Perhaps you were looking for one of these pages?</h3>

  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/posts">Blog Posts</a>
    </li>
    <li>
      <a href="/projects">Projects</a>
    </li>
    <li>
      <a href="/uses">What I use</a>
    </li>
  </ul>

</Layout>
