---
import Layout from '../layouts/Default.astro';

let title = '';
let description = 'Matt Millican; Software Engineer, Cloud Enthusiast, Continous Learner';
let permalink = '/';

---

<Layout title={title} subTitle="All things dev, cloud and learning." description={description} permalink={permalink}>
  <h1>Hi there</h1>
</Layout>
