---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/Page.astro';
import RecentPosts from '../components/blog/RecentPosts.astro';
import FirstPersonBio from '../components/bio/FirstPerson.astro';

const meta = {
  title: SITE.title,
  description: 'Matt Millican; Software Engineer, Cloud Enthusiast, Continuous Learner',
  dontUseTitleTemplate: true,
}

---

<Layout {meta} subtitle="I like all things dev, cloud and geeky.">
  <div class="grid grid-cols-12 sm:gap-x-16">
    <div class="col-span-12 sm:col-span-8">
      <div class="mt-0 text-lg leading-loose">
        <FirstPersonBio />
      </div>
    </div>
    <div class="mt-4 sm:mt-0 col-span-12 sm:col-span-4">
      <h2 class="mt-0">Recent Posts</h2>

      <RecentPosts max={3} />
    </div>
  </div>
</Layout>
