---
import Layout from '~/layouts/Page.astro';

const meta = {
  title: 'What Does Matt Use?',
  description: 'The tools I use to get things done',
}
---

<Layout {meta} subtitle={meta.description}>

  <h2>Tech Stack</h2>

  <ul>

    <li>ASP.NET 6 (formerly ASP.NET Core)</li>
    <li>Vue.JS</li>
    <li>Nuxt.js</li>
    <li>Astro</li>
    <li>Postgres</li>
    <li>Microsoft SQL Server</li>

  </ul>

  <h2>Editors + Tools</h2>

  <ul>
    <li>VS Code</li>
    <li>JetBrains DataGrip - Database IDE</li>
    <li>Visual Studio (currently 2022, but I rarely open full VS these days)</li>
    <li>Windows Terminal - finally a decent CLI on Windows</li>
    <li>Linqpad - easy way to run C# code snippets to test / prove things out</li>
    <li>AWS CLI - managing AWS resources</li>
    <li>AWS Cloudformation - infrastructure as code for AWS</li>
    <li>Azure Resource Manager (Bicep)</li>
    <li>Docker</li>
    <li>Azure Data Studio - I've mostly replaced my reliance on SSMS with this</li>
    <li>Postgres plugin for Azure Data Studio</li>
  </ul>

  <h2>Services + Hosting</h2>

  <ul>
    <li>AWS</li>
    <li>Azure</li>
    <li>GitHub</li>
    <li>Netlify</li>
  </ul>

  <h2>Other Apps</h2>

  <ul>
    <li>Firefox</li>
    <li>Microsoft Todo - current todo list favorite; syncs across all my devices and supports multiple lists</li>
    <li>Notion (<i>Attempting</i> to get my self organized...)</li>
    <li>Slack</li>
    <li>Discord</li>
  </ul>

</Layout>
