---
const { post } = Astro.props;

const { title, subtitle, formattedDate, slug } = post;
---

<article class="post-item">
	<header class="post-title">
    <a href={`/posts/${slug}`}>
      <h2 class="post-title mb-0">{title}</h2>
    </a>
	</header>

	<p class="post-subtitle">
    {subtitle}
  </p>

  <p class="post-date">
    <time>{formattedDate}</time>
  </p>
</article>
