<footer class="bg-gray-800 mt-20 py-10 text-white">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between">
      <div>
        <p>&copy; 2022 Matt Millican</p>
      </div>
    </div>
  </div>
</footer>
