<header class="py-4 border-b-4 border-secondary">
	<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
		<nav class="relative z-50 flex justify-between">
      <div class="flex items-center md:gap-x-12">
        <a href="/" class="text-primary font-semibold text-3xl">
          Matt Millican
        </a>
      </div>
      <div class="hidden md:flex md:gap-x-6 nav-items">
        <a href="/about" class="nav-link">About</a>
        <a href="/posts" class="nav-link">Blog</a>
        <a href="/projects" class="nav-link">Projects</a>
        <a href="/uses" class="nav-link">Uses</a>
      </div>
    </nav>
  </div>
</header>
