---
export interface Props {
  title?: string;
  subTitle?: string;
}

const { title, subTitle } = Astro.props;
---

<div class="flex flex-col items-center text-center mx-auto w-full lg:max-w-4xl xl:max-w-6xl px-4 sm:px-6 my-20 md:my-36 text-white">
  <h1 class="font-medium text-5xl md:text-6xl">
    { title ? title :
      <>
        Hi, I'm <span class="text-primary">Matt</span>
      </>
    }
  </h1>
  {
    subTitle &&
    <h3 class="mt-4 font-medium text-xl">
      { subTitle }
    </h3>

  }
</div>
